

body {
    background-color: #FEF3E0
}

.img-contain img {
    background: lightgray;
    object-fit: contain;
}


.showItemAnimation {
    animation: show-item 1s ease-in-out forwards;
    -webkit-animation: show-item 1s ease-in-out forwards;
}

.hideItemAnimation {
    animation: hide-item 1s ease-in-out forwards;
    -webkit-animation: hide-item 1s ease-in-out forwards;
}

@keyframes hide-item {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

@keyframes show-item {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}